body {
    background-color: gainsboro;
    width: 100vw;
}
#banner img {
    height: 50vh;
    width: 100%;
    margin: 0;
    align-content: center !important;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 50px;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-weight: 100;
}


ul {
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
}

main {
    /* margin: 0px 100px 0px 150px !important; */
    background-color: gainsboro;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #weatherResults {
        flex-direction: row !important;
    } 
#apiResults {
    width: 60vw !important;
}
#projected {
    flex-direction: row !important;
    width: 60vw !important;
}
.myCard {
    max-width: 200px !important;
    width: 200px !important;
    min-width: 200px !important;
}
}
