h1 {
    text-align: center;
    padding: 50px;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-weight: 100;
}


ul {
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
}

body {
    margin: 0px 100px 0px 150px !important;
    background-color: gainsboro;
}

